@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background:#f77e5e;
    --background-light:hsl(13, 91%, 77%);
    --background-dark:hsl(13, 91%, 57%);
    --main:#3dbd5d;
    --main-light:hsl(135, 51%, 59%);
    --main-dark:hsl(135, 51%, 39%);
    --text:#303030;
    --text-light:hsl(0, 0%, 29%);
    --text-dark:hsl(0, 0%, 9%);
    --accent:#f4f4f4;
    --accent-light:hsl(0, 0%, 100%);
    --accent-dark:hsl(0, 0%, 86%);
}
body{
    background-color: var(--background);
    font-family: "Lato", sans-serif;
}
body *::selection{
    color: var(--accent);
    background-color: var(--main);
}
.navbar{
    background-color: var(--accent);
    overflow: hidden;
}
.navbar-brand{
    color: var(--text);
}
.nav-item{
    overflow: hidden;
}
.nav-link{
    position: relative ;
}
.nav-link:hover {
    color: var(--main);
}
.nav-link::after ,
.nav-link::before{
    content: "";
    transition: .3s;
    border-left: 8px solid transparent;
    border-right: 8px solid  transparent;
    position: absolute;
    left: 50%;
}
.nav-link::after{
    border-top: 8px solid transparent;
    border-bottom: 8px solid var(--main);
    bottom: 0;
    transform: translate(-50%,100%);
}
.nav-link::before{
    border-top: 8px solid var(--main);
    border-bottom: 8px solid transparent;
    top: 0;
    transform: translate(-50%,-100%);
}
.nav-link:hover.nav-link::after,
.nav-link:hover.nav-link::before{
    transform: translate(-50%,0%);
}
.pannar .text-head {
    color: var(--accent);
}
.pannar .text-head h1{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}
.search-form{
    max-width: 600px;
    background-color: var(--accent);
    position: relative;
}
.search-form button{
    border-color: var(--main);
    color: var(--main);
}
.search-form button:hover{
    background-color: var(--main);
    color: var(--accent);
    border-color:var(--main) ;
}
.search{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 90%;    
    transform: translate(-50%);
}
#searchWords{
    max-height: 300px;
    background-color: var(--accent);
    box-shadow: 0px 0px 30px 0px hsla(0, 0%, 53%, 0.756);
}
#searchWords li{
    cursor: pointer;
    border-bottom: 1px solid var(--accent-dark);
    transition: .2s;
}
#searchWords li:hover{
    cursor: pointer;
    color: var(--main);
    padding-left: 30px !important;
}
.row .img-holder {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden !important;
}
.row div img{
    width: 100%;
    cursor: pointer;
}
.error{
    border-radius: 25px !important;
    padding: 10px 20px !important;
    background-color:#ffcc99 !important ;
    color: var(--text);
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80% !important;
    transform: translate(-50%);
}
/* #data{
    align-content: stretch !important;
} */
#input1{
    background-color: var(--accent);
}
#input1:focus{
    box-shadow: 0px 0px 10px 2px hsla(135, 51%, 69%, 0.674);
}
#data div{
    height: 100%;
}
#data h2{
    color: var(--main);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.recipe-card{
    background-color: var(--accent);
}
.selection-color{
    color: var(--main);
}
.modal-footer button{
    background-color: var(--background) !important;
    color: var(--accent) !important;
    border: none;
}
#exampleModalLabel{
    color: var(--main-dark);
    font-weight: 600;
}
.modal-footer button:hover{
    background-color: var(--background-dark) !important;
}
.modal-body ul li{
    position: relative;
    list-style: none;
}
.modal-body ul li::before{
    content: "";
    position: absolute;
    background-color: var(--background);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    left: -16px;
    top: 55%;
    transform: translateY(-55%);
}

/* mobile  */
@media only screen and (max-width: 768px) {
    .nav-link::after ,
    .nav-link::before{
        left: 5%;
    }
    .nav-link::after{
        transform: translate(-5%,100%);
    }
    .nav-link::before{
        transform: translate(-5%,-100%);
    }
}
/* tablate */
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .nav-link::after ,
    .nav-link::before{
        left: 3%;
    }
    .nav-link::after{
        transform: translate(-3%,100%);
    }
    .nav-link::before{
        transform: translate(-3%,-100%);
    }
}
